site_name: CAPM Documentation
repo_url: https://github.com/getcapm/capm
theme:
  name: material
  palette:
  - scheme: default
    primary: black
    toggle:
      icon: material/lightbulb-outline
      name: Switch to dark mode
  - scheme: slate
    primary: black
    toggle:
      icon: material/lightbulb
      name: Switch to light mode
  logo: assets/logo-light.png
  favicon: assets/favicon.ico
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - navigation.footer
    - content.code.copy
plugins:
  - glightbox:
      draggable: false
      background: none
      shadow: false
  - search
markdown_extensions:
  - abbr
  - attr_list
  - pymdownx.snippets
nav:
    - CAPM: 'index.md'
    - Getting Started: 
      - Installation: 'installation.md'
    - Packages: 'packages.md'
    - Configuration:
      - 'configuration/general.md'
